body{
}

.buttonContainer{
  width: 512px;
  display: block;
  position: relative;
  margin: 0px auto 0px auto;
  padding: 0px;
}

.draft{
  display: inline-block;
  line-height: 19px;
  position: relative;
  margin: 0px 5px 10px auto;
  width: 363px;
  padding: 5px;
  border: 1px gray solid;
  text-align: left;
  float: left;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  font-family: 'Montserrat', 'sans-serif';
}

.send{
  display: inline-block;
  position: relative;
  margin: 0px auto 10px 5px;
  width: 113px;
  padding: 5px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  font-family: 'Montserrat', 'sans-serif';
}

.home{
  display: inline-block;
  position: relative;
  margin: 0px 5px 10px auto;
  width: 113px;
  padding: 5px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  float: left;
  font-family: 'Montserrat', 'sans-serif';
}

.getTweets{
  display: inline-block;
  position: relative;
  margin: 0px auto 10px 5px;
  width: 363px;
  padding: 5px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  font-family: 'Montserrat', 'sans-serif';
}

.old{
  display: block;
  position: relative;
  margin: 0px auto 10px auto;
  width: 500px;
  padding: 5px;
  border: 1px gray solid;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  font-family: 'Montserrat', 'sans-serif';
}

.tweetContainer{
  width: 960px;
  margin: 0 auto 0 auto;
}

.tweetBlock{
	width: 500px;
	display: block;
	position: relative;
	margin: 0px auto 5px auto;
	border-top: 1px gray solid;
	border-left: 1px gray solid;
	border-right: 1px gray solid;
	-webkit-border-top-left: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-right: 15px; 
	border-top-right-radius: 15px;
	padding: 5px;
}

.user{
  font-family: 'Montserrat', 'sans-serif';
  margin-bottom: 4px
}

.content{
  margin: 0px;
  font-family: 'Open Sans', 'sans-serif';
}

.timeStamp{
	font-size: 12px;
	color: gray;
	text-align: right;
	line-height: 12px;
}